<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>The Best Animals</h1>
  <ul>
  <% animals.forEach(animal => { %>
    <li>
      <form 
      action="/animals/<%= animal._id %>?_method=DELETE" 
      method="POST">
      <button type="submit">❌</button>
    </form>
    Species: <%= animal.species %> 
    | Habitat: <%= animal.habitat %> 
    | Cool Because... <%= animal.why %> 
    | <a href="/animals/<%= animal._id %>">Edit Animal</a> 
    </li>
  <% }) %>
  </ul>
  <h4>Add a <a href="/animals/new">new animal</a>?</h4>
</body>
</html>